 /*id 选择器 通过id绑定这个样式，一个选择器只能被绑定一次*/
        #i11 {
            background-color: aqua;
            height: 100px;
        }

        /*class 选择器 通过class绑定这个样式*/
        .c1 {
            background-color: #2459a2;
            height: 100px;
        }

        /*标签 选择器 所有这个标签绑定这个样式*/
        div {
            background-color: #ffff00;
            height: 100px;
        }

        /*层级 选择器 所有这个层级下的标签绑定这个样式 ，表示 span 标签下的div都绑定这个样式 */
        span div {
            background-color: #2459a2;
            height: 100px;
        }
        .c1 div{
            background-color: #ffff00;
            height: 100px;
        }

         /*组合 多个选择器都应用这一个样式 */
        #c22,c33{
            background-color: #2459a2;
            height: 100px;
        }

        /*属性 选择器 c1样式下的 type=text的标签都应用这一样式 */
        .c1[type='text']{
             background-color: #ffff00;
            height: 100px;
        }